body {
    display:flex;
    background: transparent;
    font-family: 'Poppins', sans-serif;
    color: #ededed;
    text-align: center;
   text-shadow: 0 1px 0 black;
}

#title {  
    border: .1vh solid #74aa3200;
    position:relative;
    top: 10px;
    margin-bottom: 10px;
    max-height:200px;
    justify-content:center;
    background:#161923f2;
    -webkit-box-shadow: 0 0 20px rgba(0, 0, 0, 0.882);
    box-shadow: inset 0 0 2000px rgba(255, 255, 255, .1);
}


.container-sm {
    display:block;
    overflow:hidden;
    max-height:850px;
    max-width:600px;
    background-color: #161923f2;
    border:2px solid rgba(29, 29, 29, 0.331);
    -webkit-box-shadow: 0 0 20px rgba(0, 0, 0, 0.882);
    box-shadow: inset 0 1500px 2000px rgba(255, 255, 255, .1);
    border-radius:15px;
    position:absolute;
    top: 50%;
    left: 85%;
    transform: translate(-50%, -50%);
}

.button-right {
    font-size:25px;
    border-radius:5px;
}


.container-body::-webkit-scrollbar {
    display: none;
}

.container-body {
    height:87.5%;
    padding:5px;
    overflow:scroll;
    position:relative;
    top:10px;
    max-height:610px;
    border-radius:5px;  
    border: .1vh solid #74aa3200;
    justify-content:center;
    background:#161923f2;
    -webkit-box-shadow: 0 0 20px rgba(0, 0, 0, 0.882);
    box-shadow: inset 0 0 2000px rgba(255, 255, 255, .1);
}

h1 {
    z-index:1;
    border-radius:5px;
    padding: 60px;
    text-align:center;
}

button {
    color: #ededed;
    position:relative;
    width: 100%;
    top:10px;
    overflow:hidden;
    background: #171717;
    border: .3vh solid #74aa3200;
    -webkit-box-shadow: 0 0 20px rgba(0, 0, 0, 0.882);
    box-shadow: inset 0 0 2000px rgba(255, 255, 255, .1);
}

.row-3 {
    padding:5px;
    border-radius:5px;
    margin-top:10px;
    margin-left:1%;
    letter-spacing: 0.2em;
    font-size: 1.5rem;
    text-align:center;
    width:98%;
}
  
.row-3:focus {
    margin-top:10px;
    margin-left:1%;
    background:rgba(0,0,0,0);
    text-align:center;
}